body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}
.container {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
.container h2 {
  color: #4CAF50;
}
form {
  display: inline-flex;
  width: 100%;
}
input[type="email"], input[type="password"] {
  padding: 10px;
  margin: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
button[type="submit"] {
  padding: 10px;
  margin: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #3e8e41;
}