* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, sans-serif;
	height: 100vh;
	background-color: #f2f2f2;
}
.login-container {
	width: 300px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
BACKGROUND:linear-gradient(to top left, rgb(34, 49, 69), rgb(16, 25, 34));
border-radius:15px;
	padding:20px;
}
.login-header {
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	text-align: center;
}
.login-body {
	background-color: #e6f6f7;
	padding: 20px;
}
form {
	display: flex;
	flex-direction: column;
}
input {
	width: 100%;
	border: none;
	background-color: #e6f6f7;
	padding: 10px;
}
button {
	width: 100%;
	background-color: #4CAF50;
	padding: 10px;
	color: white;
	roundness: 5px;
}
button:hover {
	background-color: #3E8E41;
}
