
         body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
         }
       
         .container {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
         }
       
         .login-form {
            margin-top: 50px;
         }
       
         .login-form h2 {
            text-align: center;
            margin-bottom: 20px;
         }
       
         .input-container {
            position: relative;
            margin-bottom: 20px;
         }
       
         .input-container input {
            width: 100%;
            height: 40px;
            font-size: 18px;
            padding: 10px;
            border: none;
            border-radius: 10px;
            background-color: #f2f2f2;
         }
       
         .input-container label {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 18px;
            transition: opacity 0.3s ease;
         }
       
         .underline {
            position: absolute;
            bottom: 0;
            left: 10px;
            width: 100%;
            height: 2px;
            background-color: #ccc;
         }
       
         .input-container input:focus + label {
            opacity: 0;
         }
       
         .input-container input:focus ~ .underline {
            height: 2px;
            background-color: #0094ff;
         }
       
         button {
            background-color: #0094ff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
         }
       
         button:hover {
            background-color: #007bff;
         }
      