* {

       box-sizing: border-box;

       margin: 0;

       padding: 0;

       } 


       body {

       font-family: Arial, sans-serif;

       line-height: 1.6;

       color: #333;

       background-color: #f9f9f9;

       }


       .hero-section {

       height: 100vh;

       background-image: url("https://images.pexels.com/photos/276736/pexels-photo-276736.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");

       background-size: cover;

       background-position: center;

       }


       .container {

       max-width: 400px;

       margin: 40px auto;

       padding: 20px;

       background-color: #fff;

       border: 1px solid #ddd;

       border-radius: 10px;

       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

       }


       .signup-form {

       text-align: center;

       }


       .form-group {

       margin-bottom: 20px;

       }


       label {

       display: block;

       margin-bottom: 10px;

       }


       input {

       width: 100%;

       height: 40px;

       padding: 10px;

       font-size: 16px;

       border: 1px solid #ccc;

       border-radius: 5px;

       }


       button {

       width: 100%;

       height: 40px;

       padding: 10px;

       font-size: 16px;

       background-color: #4CAF50;

       color: #fff;

       border: none;

       border-radius: 5px;

       cursor: pointer;

       }


       button:hover {

       background-color: #3e8e41;

       }


       ::placeholder {

       color: #ccc;

       }


       @media (max-width: 500px) {

       .container {

       padding: 10px;

       }

       }

       